{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	{# <body>
		            <div class="container">
		                <br>
		                <div class="card bg-light">
		                    <article class="card-body mx-auto" style="max-width: 400px;">
		                        <h4 class="card-title mt-3 text-center">Connexion</h4>
		                        <form method="post">
		                            <div class="form-group input-group">
		                                <input name="email" class="form-control" placeholder="Email" type="email" required>
		                            </div>
		                            <div class="form-group input-group">
		                                <div class="input-group-prepend"></div>
		                                <input name="mdp" class="form-control" placeholder="Mot de passe" type="password">
		                            </div>
		                            <button type="submit" class="btn btn-primary btn-block">Se Connecter</button>
		                        </form>
		                    </article>
		                </div>
		    
		            </div>
		        </body> #}
	<br>
	<br>
	<div class-"container" style="text-align: center">
		<h1>Page d'accueil</h1>
		<br>
		<a href="" class="btn btn-primary">Se Connecter</a>
	</div>
{% endblock %}
