<form method="post" action="{{ path('message_traitement', {'id': message.id}) }}" onsubmit="return confirm('Avez vous bien traité cette demande ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
	<button class="btn">Définir comme traitée</button>
</form>
